<div class="container">
  <footer class="footer">
    <small>
      copyright &copy; by <a herf="https://www.linkedin.com/in/shrujalshah28" >Shrujal Shah</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>